@import "projects";

hr {
    border-width: 0 !important;
    border-bottom: 1px solid #eee !important;
}

.highlight {
	-moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 14px !important;
}

.grey {
    color: #666;    
}

.res-role {
    font-weight: bold;
    white-space: nowrap;
}
.res-date {
    float: right;
    font-weight: bold;
}
.res-place {
    display: block;
    color: #333;
    &:hover {
        color: #4183C4;
    }
    &:before {
        content: 'at ';
    }
}
// .res-stack {
//     margin-left: 15;
//     &:before {
//         content: 'Stack:';
//         font-weight: bold;
//     }
// }


.author {
	color: #666;
	padding: 2em 0;
}

.date-right {
    float: right;
}

.video {
    border-top: 1px solid #eee;
    padding-top: 2em;
}

.song-link {
	display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
    font-weight: bold;
    line-height: 1.7;
    margin: 0 0 10px;
    padding: 0;
	&:hover {
		color: #4183C4;
	}
}

.song-hr {
    border-top: 1px solid #eee;
    width: 50%;
    @media (max-width: 450px) {
        width: 100%;
    }
}

.digression {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-height: 40px;
    transition: all 0.3s ease-out;
}

.digression-input {
    display: none;
    &:checked + .digression {
        white-space: normal;
        max-height: 1000px;
        transition: all 0.3s ease-out;
    }
}

.question-input {
    display: none;
    &:checked + .answer {
        max-height: 1000px;
    transition: all 0.15s ease-out;
        border-top: 1px solid #dededc;
      padding-top: 10px;
      margin-top: 10px;
    }
}

.wrap-frame {
    display: block;
    border: 1px solid #dededc;
    padding: 10px 10px 10px 30px;
    cursor: pointer;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 10px;
        bottom: 10px;
        left: 10px;
        width: 3px;
        background-color: #dededc;
        transition: background-color 0.15s ease-out;
    }
    &:hover:before {
        background-color: #57ad68;
        transition: background-color 0.15s ease-out;
    }
}

.answer {
  display: block;
  overflow: hidden;
  max-height: 0;
  transition: all 0.15s ease-out;
}

.code-snippet {
  display: block;
  overflow: hidden;
  max-height: 0;
  transition: all 0.15s ease-out;
}


.code-frame {
    margin-bottom: 10px;
    .code-label {
        display: block;
        border: 1px solid #dededc;
        padding: 10px 10px 10px 20px;
        cursor: pointer;
        position: relative;
        .code-title {
            text-transform: capitalize;
        }
        &::before {
            content: '';
            position: absolute;
            top: 10px;
            bottom: 10px;
            left: 10px;
            width: 3px;
            background-color: #dededc;
            transition: background-color 0.15s ease-out;
        }
        &:hover {
            &::before {
                background-color: #57ad68;
                transition: background-color 0.15s ease-out;
            }
        }
    }
}


.code-input {
    display: none;
    &:checked + .code-label {
        margin-bottom: -1px;
        &::before {
            background-color: #57ad68 !important;
        }
    }
    &:checked ~ .code-snippet {
        max-height: 1000px;
        transition: all 0.15s ease-out;
    }
}
