.body {
	max-width: 600px;
	min-width: 320px;
	margin: auto;
  position: relative;
}

.spinner {
	position: absolute;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  margin: 0;
}

#tinderslide .like {
    background: url("http://blogs.sonymobile.com/pl/files/2015/04/Sony_AK1-39e800fc6eccbde67df8b6d970a021da-605x403.jpg") no-repeat scroll center center;
}

#tinderslide .dislike {
    background: url("http://img13.deviantart.net/2777/i/2016/260/e/5/logo__14___the_deviantart_logo_by_octss-dahwy98.png") no-repeat scroll center center;
}

i.btn-dislike {
    background: url("http://img13.deviantart.net/2777/i/2016/260/e/5/logo__14___the_deviantart_logo_by_octss-dahwy98.png") no-repeat scroll center center;
    background-size: contain;
}

i.btn-like {
    background: url("http://blogs.sonymobile.com/pl/files/2015/04/Sony_AK1-39e800fc6eccbde67df8b6d970a021da-605x403.jpg") no-repeat scroll center center;
    background-size: cover;
}
